<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/fonawesome/css/all.css">
    <link rel="stylesheet" href="../css/styles/messages.css">
    <title>Your Anonymous Messages</title>
</head>

<body>
    <section id="messages">
        <h1 id="greetings">Sola, you have 5 messages</h1>
        <aside class="message">
            <div class="message-header">
                <p>Yesterday, by Anon:</p>
                <p>Time: 12: 43pm</p>
            </div>

            <p class="message-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id error perferendis minus
                ipsa tenetur maxime accusantium modi porro beatae! Animi corporis nihil hic eveniet recusandae, tenetur
                odit non nemo dicta.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi ad beatae ex laudantium nihil totam fugit veritatis molestiae, rem similique nostrum, ratione perspiciatis aliquam voluptates error impedit voluptatum voluptate adipisci?
            </p>
            <button class="btn">Options</button>
        </aside>

        <aside class="message">
                <div class="message-header">
                    <p>Yesterday, by Anon:</p>
                    <p>Time: 12: 43pm</p>
                </div>
    
                <p class="message-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id error perferendis minus
                    ipsa tenetur maxime accusantium modi porro beatae! Animi corporis nihil hic eveniet recusandae, tenetur
                    odit non nemo dicta.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat reprehenderit temporibus labore nihil quis? Similique esse eos voluptas commodi vero illum itaque, ut quas voluptate magni facere dignissimos sequi dolor!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi ad beatae ex laudantium nihil totam fugit veritatis molestiae, rem similique nostrum, ratione perspiciatis aliquam voluptates error impedit voluptatum voluptate adipisci?
                </p>
                <button class="btn">Options</button>
            </aside>

            <aside class="message">
                    <div class="message-header">
                        <p>Yesterday, by Anon:</p>
                        <p>Time: 12: 43pm</p>
                    </div>
        
                    <p class="message-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id error perferendis minus
                        ipsa tenetur maxime accusantium modi porro beatae! Animi corporis nihil hic eveniet recusandae, tenetur
                        odit non nemo dicta.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat reprehenderit temporibus labore nihil quis? Similique esse eos voluptas commodi vero illum itaque, ut quas voluptate magni facere dignissimos sequi dolor!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi ad beatae ex laudantium nihil totam fugit veritatis molestiae, rem similique nostrum, ratione perspiciatis aliquam voluptates error impedit voluptatum voluptate adipisci?
                    </p>
                    <button class="btn">Options</button>
                </aside>
                <aside class="message">
                        <div class="message-header">
                            <p>Yesterday, by Anon:</p>
                            <p>Time: 12: 43pm</p>
                        </div>
            
                        <p class="message-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id error perferendis minus
                            ipsa tenetur maxime accusantium modi porro beatae! Animi corporis nihil hic eveniet recusandae, tenetur
                            odit non nemo dicta.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat reprehenderit temporibus labore nihil quis? Similique esse eos voluptas commodi vero illum itaque, ut quas voluptate magni facere dignissimos sequi dolor!
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi ad beatae ex laudantium nihil totam fugit veritatis molestiae, rem similique nostrum, ratione perspiciatis aliquam voluptates error impedit voluptatum voluptate adipisci?
                        </p>
                        <button class="btn">Options</button>
                    </aside>
    </section>
</body>
<footer>
    <p>&copy; <a href="https://twitter.com/solathecoder" target="__blanck">Olusola</a> . Made with <i class="fas fa-heart"></i></p>
</footer>
<script src="../js/messages.js"></script>
</html>