<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/fonawesome/css/all.css">
    <link rel="stylesheet" href="../css/styles/messages.css">
    <title>Send An Anonymous Message</title>
</head>

<body id="reply-body">
    <section id="messages">
        <h1 id="greetings">Sending message to Sola</h1>
        <form action="" id="message-form" method="POST">
            <textarea name="anon-message" id="anon-message"></textarea>
            <div class="pull-right">
                    <button id="btn-reply">Submit</button>
            </div>
           
        </form>
        
    </section>
</body>
<footer>
    <p>&copy; <a href="https://twitter.com/solathecoder" target="__blanck">Olusola</a> . Made with <i class="fas fa-heart"></i></p>
</footer>

</html>